{% extends "divermat/base.html" %}

{% block title_block %}
    Alumnos
{% endblock %}

{% block body_block %}
    <div class="flex-container">

        <form id="borrarAlumno" action="" method="POST">
            {% csrf_token %}

            <table>
                <tr>
                    <h2>Alumnos Clase: {{clase.curso}}º {{clase.nombre}}</h2>
                </tr>
                    {% for alum in alumnos %}
                    <tr>
                        <td style="width: 100px;"> 
                            <input type="checkbox" name="Alumnos" value={{alum.id}}>{{alum}}</input>
                        </td>
                    </tr>
                    {%endfor%}
            </table>
            <input class="boton" type="submit" value="Borrar"></input>
        </form>
        <div style="margin-left: 100px;">
            <form id="NuevoAlumno" method="post">
                <p>{{form.n_alumnos.label}}</p>
                {% if form.n_alumno.errors %}
                    {% for error in form.n_alumnos.errors %}
                        <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                    {% endfor %}
                {% endif %}
                <p>{{form.n_alumnos}}</p>
                {% csrf_token %}
                <input class="boton" type="submit" value="Generar">   
            </form>
        </div>
    </div>


      
{% endblock %}