{% extends "divermat/base.html" %}

{% block title_block %}
    Alumnos
   
{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-xs-5 col-md-5 col-lg-5 offset-md-1 ">
            <h3>Alumnos</h3>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table id="myTable" class="table-hover table" style=" border-collapse: collapse !important;  text-align: left;">

                <!-- <table id="myTable" class="table-hover mb-0" style="height: 200px;"> -->
                    <thead>
                        <tr>
                            <th onclick="sortTable(0,'myTable',1)">
                                <h5>
                                    <i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;Nombre
                                </h5>
                            </th>
                            <th onclick="sortTable(1,'myTable',1)">
                                <h5><i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;Usuario</h5>
                            </th>
                            <th onclick="sortTable(2,'myTable',1)">
                                <h5><i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;Contraseña</h5>
                            </th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        {% for alum in alumnos %}
                            <tr>
                                <td>
                                    {{alum.first_name}}&nbsp;{{alum.last_name}}
                                </td>
                                <td>
                                    <a href="{% url 'alumnos' alum.id%}">{{alum.username}}</a>
                                    
                                </td>
                                <td>
                                    {% if alum.password_temporal %}
                                        {{alum.password_temporal}}
                                    {%endif%}
                                </td>

                            </tr>
                            
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
            {% if seguimiento is True%}
            <h3>Seguimiento <a href="{% url 'seguimientoalumnoclase' alumno.id %}">{{alumno}}</a></h3>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table id="seguimientoAlumnos" class="table-hover table" style=" border-collapse: collapse !important;  text-align: left;">
                        <tr>
                            <th onclick="sortTable(0,'seguimientoAlumnos',1)" style="width: fit-content;" >
                                <h5>
                                    <i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;Tema
                                </h5>
                            </th>
                            <th onclick="sortNumericTable(1,'seguimientoAlumnos',1)" style="width:150px">
                                <h5>
                                    <i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;%&nbsp;Acierto
                                </h5>
                            </th>
                            <th onclick="sortNumericTable(2,'seguimientoAlumnos',1)" style="width: 150px;">
                                <h5>
                                    <i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;Nº&nbsp;Ejercicios
                                </h5> 
                            </th>
                        </tr>
                        <!--Seguimiento alumno-->
                        {% for infor in informacion%}
                        <tr>
                            <td style="width: fit-content;">
                                {{infor.tema}}
                            </td>
                            <td style="text-align: center">
                                {{infor.acierto}}%
                            </td>
                            <td style="text-align: center">
                                {{infor.n_ejercicios}}
                            </td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            {%endif%}
        </div>
       
    </div>

{% endblock %}
{% block menu_lateral_block%}
<div class="lateral">
    <div class ="flex-container">
        <div class="medio">
            <h4><i class="fa-solid fa-magnifying-glass"></i>&nbsp;Buscador</h4><br>
            
            <form action="alumnos" method="GET">
                <div>
                    <input type="text" onfocus="this.value=''" name="buscar" value="Buscar Alumno"></br></br>
                    <div>
                        <select name="curso" value="Curso" style="width:195px; height:28px;">
                            <option selected>Curso</option>
                            <option>1º ESO </option>
                            <option>2º ESO </option>
                            <option>3º ESO </option>  
                            <option>4º ESO </option>      
                        </select></br></br>
                    </div>
                    <input class="botonLateral" type="submit" value="Aceptar"></input>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}