{% extends "divermat/base.html" %}

{% block title_block %}
    Cambiar Informacion
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-xs-5 col-md-5 col-lg-5 offset-md-3">
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mi&nbsp;Información</h2><hr>

    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-md-4 col-xl-4 offset-md-1">
        <h3>Información</h3><br>
        <div>
            <b>Nombre&nbsp;de&nbsp;usuario:&nbsp;</b>{{username}}<br>
            <b>Nombre:&nbsp;</b>{{nombre}}<br>
            <b>Apellidos:&nbsp;</b>{{apellidos}}<br>
            <b>Centro&nbsp;Educativo:&nbsp;</b>{{centro}}<br>
        </div>

    </div>
    <div class="col-xs-5 col-md-5 col-xl-5 offset-md-1">
        <h3>Cambiar&nbsp;Información</h3><br>
        <h5>Introduce&nbsp;los&nbsp;nuevos&nbsp;datos:</h5>
        <form id="NuevaInfo" action="cambiarInformacionAlumno" method="POST">
            <table>
                <tr>
                    <td>
                        <b>Nombre:&nbsp;</b> {{form.first_name}}<br>

                    </td>
                </tr>
                <tr>
                    <td style="width:300px;">
                        <b>Apellidos:&nbsp;</b>{{form.last_name}}

                    </td>
                </tr>
            </table>
            {% csrf_token %}

           <br> <input class="boton" type="submit" value="Cambiar"> <br><br>          
        </form>
    </div>
</div>
{% endblock %}