{% extends "divermat/base.html" %}

{% block title_block %}
    Cambio Contrasenia
{% endblock %}

{% block body_block %}
<form  method="post"> 
    {% csrf_token %}
    <div class="">
        <p>Introduzca su contraseña actual:</p>
        {{ form.old_password }}
        <p>Introduzca la nueva contraseña:</p>
        {{ form.new_password1 }}
        <p>Repite la nueva contraseña:</p>
        {{ form.new_password2 }}<br><br>
        <button type="submit">Cambiar</button>
    
    </div>

</form>
{% endblock %}
