{% extends "divermat/base.html" %}

{% block title_block %}
    Cambio Contrasenia
{% endblock %}

{% block body_block %}
<form  method="post"> 
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-5 col-md-5 col-lg-5 offset-md-2">
            <h2>Cambio&nbsp;de&nbsp;Contraseña</h2><hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-md-5 col-lg-5 offset-md-2">
            <table>
                <tr>
                    <td>
                        Introduzca su contraseña actual:<br>
                        {% if form.old_password.errors %}
                            {% for error in form.old_password.errors %}
                                <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                        {{ form.old_password }}
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fas fa-info" onclick="hideShowInfo('password_help_text');"></i>&nbsp;Introduzca&nbsp;la&nbsp;nueva&nbsp;contraseña:
                        {% if form.new_password1.errors %}
                            {% for error in form.new_password1.errors %}
                                <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                        {{ form.new_password1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Repite la nueva contraseña:<br>
                        {% if form.new_password1.errors %}
                            {% for error in form.new_password1.errors %}
                                <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                        {{ form.new_password2 }}
                        <p id="password_help_text" style="display:none;"> 1. Su contraseña no puede parecerse a su información personal.<br>
                            2. Su contraseña debe contener al menos 8 caracteres.<br>
                            3. Su contraseña no puede ser una contraseña común.<br>
                            4. Su contraseña no puede ser completamente numérica.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="boton" class="boton" type="submit">Cambiar</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    


</form>
{% endblock %}
