{% extends "divermat/base.html" %}

{% block title_block %}
    Clase
{% endblock %}

{% block body_block %}
<div class="flex-container">
    {% if alumno is False %}
        <table>
            <caption>
                <h2>Clase: {{curso}}º {{nombre}}</h2>
            </caption>
            <tr>
                <td style="width: 350px;">
                    <h3>Alumno-Contraseña</h3>
                </td>
                <td>
                    <h3>Informacion</h3>
                </td>
                <td>
                    <h3>Seguimiento</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        {%for alumno in alumnos%}
                        <tr>
                            <td>
                                {{alumno.first_name}}
                            </td>
                            <td>
                               <a href="{% url 'seguimientoalumnoclase' alumno.id%}" >{{alumno.username}}</a>
                            </td>
                            <td style="width:200px">
                                {% if alumno.password_temporal %}
                                    -> {{alumno.password_temporal}}
                                {%endif%}
                            </td>
                        </tr>
                        {%endfor%}
                    </table>
                    <a href="{% url 'alumnosclase' clase.id %}"> Modificar</a>                
                </td>
                <td>
                    <div>
                        Curso: {{curso}}<br>
                        Año Académico: {{ano_academico}}<br>
                        Nombre:{{nombre}}<br>
                        Total Alumnos:{{nalumnos}}<br>
                        Centro Educativo:{{centro}}<br>
                        <br>
                        <br>
                        <a href="{% url 'infoclase' clase.id %}"> Modificar Información </a>
                    </div>
                </td>
                <td>
                    <div>
                        <table>
                            <tr>
                                <td>
                                <h3>Tema</h3>
                                </td>
                                <td>
                                    <h3>% Acierto</h3>
                                </td>
                            </tr>
                            <!--Seguimiento alumno-->
                            {% for infor in informacion%}
                            <tr>
                                <td>
                                    {{infor.tema}}
                                </td>
                                <td style="text-align: center">
                                    {{infor.acierto}}
                                </td>
                            </tr>
                            {%endfor%}
                        <tr>
                            <td>
                                <a href="{% url 'seguimientoclase' clase.id %}"> Más Informacion </a>
                            </td>
                        </tr> 
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    {% else %}
        <table>
            <caption>
                <h2>Clase: {{curso}}º {{nombre}}</h2>
            </caption>
            <tr>
                <td>
                    <h3>Ejercicios Asignados</h3>
                </td>
                <td>
                    <h3>Informacion</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <ol>            
                        {% for ejercicio in ejercicios.all %}
                            <a href="{% url 'ejercicio' ejercicio.id %}"><li>{{ejercicio.titulo}}</li></a><br>
                        {%endfor%}
                    </ol> 
                    <a href="{% url 'ejerciciosAsignados' clase.id %}"> Más Informacion </a> 
                                        
                </td>
                <td>
                    <div>
                        Curso: {{curso}}<br>
                        Año Académico: {{ano_academico}}<br>
                        Nombre:{{nombre}}<br>
                        Total Alumnos:{{nalumnos}}<br>
                        Centro Educativo:{{centro}}<br>
                    </div>
                </td>    
            </tr>
        </table>
    {% endif %}
</div>
      
{% endblock %}