{% extends "divermat/base.html" %}

{% block title_block %}
    Contenido
{% endblock %}

{% block body_block %}

    <!-- <div class="col"> -->
        <div class="row">
            <div class="col-xs-4 col-md-4 col-lg-4 offset-md-3">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contenido</h2><hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-4 col-xl-4 offset-md-2">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 300px!important;" onclick="sortTable(0,'videos',0)">
                                <h3><i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;Vídeos</h3>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 270px!important;">
                
                    <table id="videos">
                        {% for video in videos %}
                            <tr>
                                <td style="width:300px">
                                    <a href="{% url 'video' video.id %}">{{video.curso}}º&nbsp;{{video.titulo}}</a>
                                </td>
                            </tr>
                        {%endfor%}
                    
                    </table>
                </div>

            </div>
            <div class="col-xs-6 col-md-6 col-xl-6">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 300px!important;" onclick="sortTable(0,'resumenes',0)">
                                <h3><i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;Resúmenes</h3>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 270px!important;">
                    <table id="resumenes">

                        {% for resumen in resumenes%}
                            <tr>
                                <td style="width:300px">
                                    <a href="{% url 'resumen' resumen.id %}">{{resumen.curso}}º&nbsp;{{resumen.titulo}}</a>
                                </td>
                            </tr>
                        {%endfor%}
                        
                    </table>
                </div>
            </div>
        </div>   

{% endblock %}
{% block menu_lateral_block%}
    <div class="lateral">
        <div class ="flex-container">
            <div class="medio">
                <h4><i class="fa-solid fa-magnifying-glass"></i>&nbsp;Buscador</h4><br>
                
                <form action="contenido" method="GET">
                    <div>
                        <input type="text" onfocus="this.value=''" name="buscar" value="Buscar"></br></br>
                        <div>
                            {% if alumno is False %}
                                <select name="curso" style="width:195px; height:28px;">
                                    <option selected>Curso</option>
                                    <option>1º ESO </option>
                                    <option>2º ESO </option>
                                    <option>3º ESO </option>  
                                    <option>4º ESO </option>      
                                </select></br></br>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <select name="tema">
                            <option selected>Tema</option>
                            {% for tema in temas%}
                                <option>{{tema.curso}}º. {{tema}} </option>
                            {% endfor %}     
                        </select></br></br>
                    </div>
                    <input type="submit" value="Aceptar"></input>
                </form>
            </div>
        </div>
    </div>


{% endblock %}