{% extends "divermat/base.html" %}

{% block title_block %}
    Contenido
{% endblock %}

{% block body_block %}
<div class="listamedio">
    <table>
        <tr>
            <td><h2>Lista de Vídeos</h2></td>
            <td><h2>Lista de Resúmenes</h2></td>
        </tr>
        <tr>
            <td>
                <ol>
                    {% for video in videos %}
                    <a href="{% url 'video' video.id %}"><li>{{video.titulo}}</li></a>
                    {%endfor%}
                </ol>
            </td>
            <td>
                <ol>
                    {% for resumen in resumenes%}
                    <a href="{% url 'resumen' resumen.id %}"><li>{{resumen.titulo}}</li></a>
                    {%endfor%}
                </ol>
            </td>
        </tr>
        
    </table>
</div>

 
 <div class="lateral">
    <div class ="flex-container">
        <div class="medio">
            <a>Buscar</a></br></br>
            <form action="contenido" method="GET">
                <div>
                    <input type="text" name="buscar" value="Buscar"></br></br>
                    <div>
                        {% if alumno is False %}
                            <select name="curso">
                                <option selected>Curso</option>
                                <option>1º ESO </option>
                                <option>2º ESO </option>
                                <option>3º ESO </option>  
                                <option>4º ESO </option>      
                            </select></br></br>
                        {% endif %}
                    </div>
                <div>
                    <select name="tema">
                        <option selected>Tema</option>
                        {% for tema in temas%}
                            <option>{{tema}} </option>
                        {% endfor %}     
                    </select></br></br>
                </div>
                <input type="submit" value="Aceptar"></input>
            </form>
        </div>
    </div>
</div>


{% endblock %}