{% extends "divermat/base.html" %}

{% block title_block %}
    Contenido
{% endblock %}

{% block body_block %}
<div class="listamedio">
    <table>
        <tr>
            <td>
                <table id="videos">
                    <tr>
                        <th onclick="sortTable(0,'videos',1)">
                            <h2>Lista de Vídeos</h2>
                        </th>
                    </tr>
                    {% for video in videos %}
                        <tr>
                            <td>
                                <a href="{% url 'video' video.id %}"><li>{{video.curso}}º {{video.titulo}}</li></a>
                            </td>
                        </tr>
                    {%endfor%}
                    
                </table>
            </td>
            <td>
                <table id="resumenes">
                    <tr>
                        <th onclick="sortTable(0,'resumenes',1)">
                            <h2>Lista de Resúmenes</h2>
                        </th>
                    </tr>
                    {% for resumen in resumenes%}
                        <tr>
                            <td>
                                <a href="{% url 'resumen' resumen.id %}"><li>{{resumen.curso}}º {{resumen.titulo}}</li></a>
                            </td>
                        </tr>
                    {%endfor%}
                    
                </table>
            </td>
        </tr>
    </table>

    
   
</div>

 
 <div class="lateral">
    <div class ="flex-container">
        <div class="medio">
            <a>Buscar</a></br></br>
            <form action="contenido" method="GET">
                <div>
                    <input type="text" onfocus="this.value=''" name="buscar" value="Buscar"></br></br>
                    <div>
                        {% if alumno is False %}
                            <select name="curso">
                                <option selected>Curso</option>
                                <option>1º ESO </option>
                                <option>2º ESO </option>
                                <option>3º ESO </option>  
                                <option>4º ESO </option>      
                            </select></br></br>
                        {% endif %}
                    </div>
                <div>
                    <select name="tema">
                        <option selected>Tema</option>
                        {% for tema in temas%}
                            <option>{{tema}} </option>
                        {% endfor %}     
                    </select></br></br>
                </div>
                <input type="submit" value="Aceptar"></input>
            </form>
        </div>
    </div>
</div>


{% endblock %}