{% extends "divermat/base.html" %}

{% block title_block %}
    Ejercicio
{% endblock %}

{% block body_block %}
        <div class="row">
            <div class="col-xs-7 col-md-7 col-lg-7">
                <h2>Ejercicio:&nbsp;{{ejercicio.titulo}}</h2><hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7 col-md-7 col-lg-7">
                <h4>{{ejercicio.enunciado}}</h4>
            </div>
        </div>
        <div class="row">
            {% if ejercicio.foto %}

                <div class="col-xs-4 col-md-4 col-lg-4">
                    <img width=350px height= 250px src="{{ejercicio.foto.url}}" alt="error&nbsp;en&nbsp;la&nbsp;imagen">
                </div>

            {%endif%} 
            <div class="col">
           
                {% if ejercicio.nsoluciones is 1%}
                    {% if ejercicio.tipo is 1 %} <!--Ejercicio de tipo Test-->
                        <p><h5>Selecciona la solución correcta</h5></p>
                        {% for sol in soluciones %}
                            {% if sol.checked is True%}
                                <input checked="checked" type="radio" id="solucion" value="{{sol.solucion}}" name="solucion"> {{sol.solucion}} </br>
                            {% else %}
                                <input type="radio" id="solucion" value="{{sol.solucion}}" name="solucion"> {{sol.solucion}} </br>
                            {% endif %}
                        {% endfor %}
                        <br>                   
                    {% else %} <!--Ejercicio de respuesta corta-->
                        <p><h5>Introduce la solución</h5></p>
                        <input label="Introduce la solucion" type="text" name="solucion" value="{{ejercicio.solucion_correcta}}"></br></br>

                    {% endif %}
                {% else %}
                    {% if ejercicio.tipo is 1 %} <!--Ejercicio de tipo Test con varias soluciones-->
                        <p><h5>Selecciona la solución correcta</h5></p>
                        {% for sol in soluciones %}
                            {% if sol.checked is True%}
                                <input checked="checked" type="checkbox" id="solucion" value="{{sol.solucion}}" name="solucion"> {{sol.solucion}} </br>
                            {% else %}
                                <input type="checkbox" id="solucion" value="{{sol.solucion}}" name="solucion"> {{sol.solucion}} </br>
                            {% endif %}
                        {% endfor %}  
                        <br>
                    {% else %} <!--Ejercicio de respuesta corta con varias soluciones-->
                        <p><h5>Introduce la solución o soluciones separadas por ";"</h5></p>
                        <input label="Introduce las soluciones separadas por ';': " type="text" name="solucion" value="{{ejercicio.solucion_correcta}}"></br></br>

                    {% endif %}
                    
                {% endif %} 
            </div>
        </div>
       

    <h4 style="color:crimson">{{resultado}}</h4>
{% endblock %}