{% extends "divermat/base.html" %}

{% block title_block %}
    Alumnos
{% endblock %}

{% block body_block %}

<div class="flex-container">

    <table id="ejerciciosAsignadosTable" style="margin-left: 0px;">
        <caption style="width:650px">
            <h2>Ejercicios Asignados a la clase: {{clase.curso}}º {{clase.nombre}}</h2>
        </caption>
        <tr>
            <td>
                <table id="ejerciciosAsignadosTable" style="margin-left: 0px;">
                    <tr>
                        <th style="width:300px" onclick="sortTable(0,'ejerciciosAsignadosTable',1)">
                            <h4>Ejercicio Pendientes</h4>
                        </th>
                    </tr>
                    {% for ejercicio in ejercicios_pendientes %}
                        <tr>
                            <td style="width:350px;">
                                <li><a href="{% url 'ejercicio' ejercicio.id %}">{{ejercicio}}</a></li>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td >
                <table id="ejerciciosAsignadosTable2" style="margin-left: 0px;">
                    <tr>
                        <th style="width:300px" onclick="sortTable(0,'ejerciciosAsignadosTable2',1)">
                            <h4>Ejercicio Hechos</h4>
                        </th>
                    </tr>
                    {% for ejercicio in ejercicios_realizados %}
                        <tr>
                            <td style="width:350px;">
                                <li>{{ejercicio}}</li>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>

    </table>
</div>
{% endblock %}