{% extends "divermat/base.html" %}

{% block title_block %}
    Inicio
{% endblock %}

{% block body_block %}
<div class="listamedio">
    <table>
        <tr>
            <td>
                <h2>Lista de {{Tipo}}</h2>
            </td>
            <td>
                Seleccione la clase a la que desea asignar los ejercicios:<br>
            </td>
        </tr>
        <form id="AsignarEjercicio" action="index" method="POST">{% csrf_token %}
            <tr>
                <td>
                    <ol>            
                        {% for conten in Contenido %}
                            <input type="checkbox" name="Ejercicios" value={{conten.id}}><a href="{% url 'ejercicio' conten.id %}">{{conten.curso}}º {{conten.titulo}}</a></input><br>
                        {%endfor%}
                    </ol>  
                </td>
                <td>
                    <select name="Clase">
                        <option selected>Clase</option>
                        {%for clase in clases%}
                        <option>{{clase}}</option>
                        {%endfor%}     
                    </select></br></br>
                    <input type="submit" value="Asignar"> <br><br>
                </td>
            </tr>
        </form> 
    </table>   
    {% if error_boolean is True %}
        <p style="color:crimson;">
            No se han podido asignar porque no coinciden con el curso de la clase los siguientes Ejercicios:<br>
            {% for ej in error %}
                {{ej}}<br>
            {% endfor %}
        </p>       
    {% endif %}    
</div>

 
 <div class="lateral">
    <div class ="flex-container">
        <div class="medio">
            <a>Buscar</a></br></br>
            <form action="index" method="GET">
                <div>
                    <input type="text" onfocus="this.value=''" name="buscar" value="Buscar"></br></br>
                    
                    <select name="curso">
                        <option selected>Curso</option>
                        <option>1º ESO </option>
                        <option>2º ESO </option>
                        <option>3º ESO </option>  
                        <option>4º ESO </option>      
                    </select></br></br>
                </div>
                <div>
                    <select name="tema">
                        <option selected>Tema</option>
                        {% for tema in temas%}
                            <option>{{tema}} </option>
                        {% endfor %}     
                    </select></br></br>
                </div>
                <div>
                    <select name="tipo">
                        <option selected>Tipo</option>
                        <option>Test </option>
                        <option>Respuesta corta </option>
                        <option>Problema </option>     
                    </select>
                </div>
                <input type="submit" value="Aceptar"></input>
            </form>
        </div>
    </div>
</div>


{% endblock %}