{% extends "divermat/base.html" %}

{% block title_block %}
    Inicio
{% endblock %}

{% block body_block %}

    {% if Examen is True %}
        <div>
            <h3>Examen nº {{ n_examen }}</h3></br></br>
            <!--Examen-->
        </div>

    {% else %}
        <div >
            <table>
                <tr>
                    <td>
                        <h3>Selecciona los datos para realizar el Examen</h3>
                    </td>
                    <td>
                        {% if alumno is True%}
                            <h3>Historial de Exámenes</h3>
                        {% endif %}
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <div class ="flex-container">
                            <div>
                            
                                <form id="NuevoExamenForm" action="examenes" method="POST">
                                    <table>
                                        <tr>
                                            <td>
                                               <p>
                                                {{form.crono.label}}<br><br> 
                                                {{form.crono}}
                                               </p> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{form.curso.label}}:
                                                {{form.curso}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{form.temas.label}}:
                                                {% if form.temas.errors %}
                                                    {% for error in form.temas.errors %}
                                                        <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                                                    {% endfor %}
                                                {% endif %}

                                                <ul>
                                                    {% for tema in form.temas %}
                                                        {% if tema.field.curso is form.curso.value.field.curso %}   
                                                        {{form.curso.field.curso}}
                                                            <li>
                                                                {{tema}}
                                                            </li>
                                                        {% endif %}
                                                    {% endfor%}
                                                </ul>
                                            </td>
                                        </tr>

                                    {% csrf_token %}
                                    <tr>
                                        <td>
                                            <input class="boton" type="submit" value="Aceptar">   
                                        </td>
                                    </tr>
        
                                   
        
                                </form>
        
                                
                            </div>
                        </div>
                    </td>

                    <td>
                        {% if alumno is True%}
                            <div>
                                {% for examen in examenes%}

                                    <ul>
                                        <a href="{% url 'examen' examen=examen.id %}">{{examen.titulo}}</a>
                                    </ul>

                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>              
               
            </table>
        </div>

    {% endif %}

{% endblock %}