{% extends "divermat/base.html" %}
{% block title_block %}
    Registro
{% endblock %}

{% block body_block %} 
<div class="row">
    <div class="col-xs-5 col-md-5 col-lg-5 offset-md-2">
        <h2>Iniciar&nbsp;Sesión&nbsp;</h2><hr/>
    </div>
</div>
<div class="row">
    <div class="col-xs-5 col-md-5 col-lg-5 offset-md-2">
        
          <form id="InicioSesionForm" action="iniciar_sesion" method="POST">

                <table>
                    <tr>
                        <td>
                            Introduce&nbsp;tu&nbsp;nombre&nbsp;de&nbsp;usuario:<br><br>
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                    <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                                {% endfor %}
                            {% endif %}
                            {{form.username}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Introduce&nbsp;tu&nbsp;contraseña:<br><br>
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                                {% endfor %}
                            {% endif %}
                            {{form.password}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="boton" type="submit" value="Aceptar">   
                            <!-- <input class="boton" type="submit" value="Cancelar">             -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color:crimson;">{{error}}</p>
                        </td>
                    </tr>
                </table>
                {% csrf_token %}
              
            </form>
    </div>
</div>
{% endblock %}