{% extends "divermat/base.html" %}
{% include "divermat/filtro.html"%}

{% block title_block %}
    Inicio
{% endblock %}

{% block body_block %}
{% if ejercicios is True %}
    {% if alumno is True %}
        <div>
            <table>
                <tr>
                    <td>
                        <h2>Lista de {{Tipo}}</h2>
                    </td>
                    <td>
                        Generar set de ejercicios personalizados
                    </td>
                </tr>
                <tr>
                    <td>
                        <ol>
                            {% for conten in Contenido %}
                            <a href="{% url 'ejercicio' conten.id %}"><li>{{conten.titulo}}</li></a>
                            {%endfor%}
                        </ol>
                    </td>
                    <td>
                        <form id="NuevoSetEjercicios" action="index" method="POST">

                            <table>
                                {{form}}
                            </table>
                            {% csrf_token %}
            
                            <input class="boton" type="submit" value="Generar">           
                        </form>
                    </td>
                </tr>

            </table>
            
        </div>
    {%else%}
        <div class="listamedio">
            <h2>Lista de {{Tipo}}</h2>
            <ol>
                {% for conten in Contenido %}
                <a href="{% url 'ejercicio' conten.id %}"><li>{{conten.titulo}}</li></a>
                {%endfor%}
            </ol>
        </div>
    {%endif%}
{% elif Tipo == "Resúmenes" %}

    <div class="listamedio">
        <h2>Lista de {{Tipo}}</h2>
        <ol>
            {% for conten in Contenido %}
            <a href="{% url 'resumen' conten.id %}"><li>{{conten.titulo}}</li></a>
            {%endfor%}
        </ol>
    </div>
{% else %}
    <div class="listamedio">
        <h2>Lista de {{Tipo}}</h2>
        <ol>
            {% for conten in Contenido %}
            <a href="{% url 'video' conten.id %}"><li>{{conten.titulo}}</li></a>
            {%endfor%}
        </ol>
    </div>
{% endif %}


<div class="lateral">
    <div class ="flex-container">
        <div class="medio">
            <a>Buscar</a></br></br>
            <form action={{Tipo}} method="GET">
                <div>
                    <input type="text" name="buscar" value="Buscar"></br></br>
                    <div>
                    {% if alumno is False %}
                        <select name="curso">
                            <option selected>Curso</option>
                            <option>1º ESO </option>
                            <option>2º ESO </option>
                            <option>3º ESO </option>  
                            <option>4º ESO </option>      
                        </select></br></br>
                    {% endif %}
                </div>
                <div>
                    <select name="tema">
                        <option selected>Tema</option>
                        {% for tema in temas%}
                            <option>{{tema}} </option>
                        {% endfor %}     
                    </select></br></br>
                </div>
               {% if Tipo != "Resúmenes" and Tipo != "Videos" %}
                    <div>
                        <select name="tipo">
                            <option selected>Tipo</option>
                            <option>Test </option>
                            <option>Respuesta corta </option>
                            <option>Problema </option>     
                        </select></br></br>
                    </div>
                {%endif%}
                <input type="submit" value="Aceptar"></input>

            </form>

        </div>
    </div>
</div>
{% endblock %}