{% extends "divermat/base.html" %}
{% block title_block %}
    Registro
{% endblock %}

{% block body_block %} 

    <div class ="flex-container">
        <div>
        
          <form id="InicioSesionForm" action="iniciar_sesion" method="POST">

                <table>
                    <tr>
                        <td>
                            <h3>Iniciar Sesión</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{form.username.label}}<br>
                            {{form.username}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Introduce tu contraseña:<br>
                            {{form.password}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Aceptar">   
                            <input type="submit" value="Cancelar">            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color:crimson;">{{error}}</p>
                        </td>
                    </tr>
                </table>
                {% csrf_token %}
              
            </form>

               
        </div>
    </div>

{% endblock %}