{% extends "divermat/base.html" %}

{% block title_block %}
    Perfil
{% endblock %}

{% block body_block %}

    {% if alumno is False%}
        <div>
            <table>
                <tr>
                    <td></td>
                    <td>
                        <h2>Mi Perfil</h2>
                    </td>
                </tr>
                <tr>
                    <td><h3>Información</h3></td>
                    <td><h3>Cambiar Información</h3></td>
                    <td><h3><a href="{% url 'cambiar_contrasenia' %}">Cambiar Contraseña</a></h3></td>
                </tr>
                
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <tr>
                                        <td>
                                            Nombre de usuario: {{username}}
                                        </td>
                                    </tr>
                                    <td>
                                        Nombre: {{nombre}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Apellidos: {{apellidos}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Centro educativo: {{centro}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            Introduce los nuevos datos:
                            <form id="NuevaInfo" action="perfil" method="POST">
                                <table>
                                    {{form}}
                                </table>
                                {% csrf_token %}
                    
                            <br> <input class="boton" type="submit" value="Cambiar"> <br><br>
                            
                                
                            </form>
                        </td>
                    </tr>      
            </table>
        </div>
    {% else %}
        <div>
            <table>
                <tr>
                    <td>Clase:<a href="{% url 'clase' clase.id %}"> {{clase.curso}}º ESO {{clase.nombre}}</a></td>
                    <td><h3>Seguimiento</h3></td>
                    <td><a href="{% url 'cambiar_contrasenia' %}">Cambiar Contraseña</a></td>
                    <td><a href="{% url 'cambiarInformacionAlumno' %}">Cambiar Informacion</a></td>

                </tr>
               
                <tr>
                    <td>
                        <!--Poner lo de ordenar la tabla-->
                    </td>
                    <td>
                        <div>
                            <table id="seguimiento">
                                <tr>
                                    <th onclick="sortTable(0,'seguimiento',1)">
                                        <h4>Temas</h4>
                                    </th>
                                    <th onclick="sortTable(1,'seguimiento',1)">
                                            <h4>% Acierto</h4>
                                    </th>
                                    <th onclick="sortTable(2,'seguimiento',1)" style="text-align: center">
                                            <h4>Nº Ejercicios Hechos</h4>
                                    </th>
                                </tr>
                                {% for seg in seguimiento%}
                                    <tr>
                                        <td>
                                            {{seg.tema}}
                                        </td>
                                        <td>
                                            {{seg.acierto}}
                                        </td>
                                        <td style="text-align: center">
                                            {{seg.n_ejercicios}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </td>
                </tr>      
            </table>
        </div>
    {% endif %}
{% endblock %}