{% extends "divermat/base.html" %}

{% block title_block %}
    Perfil
{% endblock %}

{% block body_block %}
    
    {% if alumno is False%}
        <div class="row">
            <div class="col-xs-4 col-md-4 col-lg-4 offset-md-3">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mi&nbsp;Perfil</h2><hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-4 col-xl-4 offset-md-1">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <h3>Información</h3>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <tr>
                            <td>
                                <b>Nombre&nbsp;de&nbsp;usuario:</b>&nbsp;{{username}}
                            </td>
                        </tr>
                        <td>
                            <b>Nombre:</b>&nbsp;{{nombre}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Apellidos:</b>&nbsp;{{apellidos}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Centro&nbsp;educativo:</b>&nbsp;{{centro}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-4 col-md-4 col-xl-4">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <h3>Cambiar&nbsp;Información</h3>
                            </th>
                            <th>
                                <a href="{% url 'cambiar_contrasenia' %}">Cambiar&nbsp;Contraseña</a>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <h5>Introduce&nbsp;los&nbsp;nuevos&nbsp;datos:</h5>
                            <form id="NuevaInfo" action="perfil" method="POST">
                                <table>
                                    {{form}}
                                </table>
                                {% csrf_token %}
                    
                            <br> <input class="boton" type="submit" value="Cambiar"> <br><br>
                            
                                
                            </form>
                        </td>
                    </tr>      
                </table>
            </div>
        </div>
           
    {% else %}
        <div class="row">
            <div class="col-xs-3 col-md-3 col-lg-3">
                <b>Clase:</b><a href="{% url 'clase' clase.id %}">&nbsp;{{clase.curso}}º&nbsp;ESO&nbsp;{{clase.nombre}}</a>
            </div>
            <div class="col-xs-4 col-md-4 col-lg-4">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mi&nbsp;Perfil</h2><hr/>
            </div>
            <div class="col-xs-2 col-md-2 col-lg-2">
                <a href="{% url 'cambiar_contrasenia' %}">Cambiar&nbsp;Contraseña</a>
            </div>

            <div class="col-xs-2 col-md-2 col-lg-2">
                <a href="{% url 'cambiarInformacionAlumno' %}">Cambiar&nbsp;Informacion</a>
            </div>
        </div>
        <div class="row">
            
            <div class="col-xs-4 col-md-4 col-lg-4 offset-md-3">
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seguimiento&nbsp;</h3>
            </div>
           
        </div>
        <div class="row">
            <div class="col-xs-9 col-md-9 col-lg-9 offset-md-1">
                <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 270px!important;">
                    <table id="seguimiento" class="table-hover table" style=" border-collapse: collapse !important;  text-align: left;">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0,'seguimiento',1)">
                                <h5>
                                    <i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;Temas
                                </h5>
                            </th>
                            <th onclick="sortNumericTable(1,'seguimiento',1)">
                                    <h5><i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;%&nbsp;Acierto</h5>
                            </th>
                            <th onclick="sortNumericTable(2,'seguimiento',1)" style="text-align: center">
                                    <h5><i class="fa-solid fa-arrow-down-z-a"></i>Nº&nbsp;Ejercicios&nbsp;Hechos</h5>
                            </th>
                        </tr>
                    </thead>   
                        {% for seg in seguimiento%}
                            <tr>
                                <td>
                                    {{seg.tema}}
                                </td>
                                <td>
                                    {{seg.acierto}}
                                </td>
                                <td style="text-align: center">
                                    {{seg.n_ejercicios}}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}