{% extends "divermat/base.html" %}

{% block title_block %}
    Perfil
{% endblock %}

{% block body_block %}

    {% if alumno is False%}
        <div class="row">
            <div class="col-xs-4 col-md-4 col-lg-4 offset-md-3">
                <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mi&nbsp;Perfil</h2><hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-4 col-xl-4 offset-md-1">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <h3>Información</h3>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <tr>
                            <td>
                                <b>Nombre&nbsp;de&nbsp;usuario:</b>&nbsp;{{username}}
                            </td>
                        </tr>
                        <td>
                            <b>Nombre:</b>&nbsp;{{nombre}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Apellidos:</b>&nbsp;{{apellidos}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Centro&nbsp;educativo:</b>&nbsp;{{centro}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-4 col-md-4 col-xl-4">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <h3>Cambiar&nbsp;Información</h3>
                            </th>
                            <th>
                                <a href="{% url 'cambiar_contrasenia' %}">Cambiar&nbsp;Contraseña</a>
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <h5>Introduce&nbsp;los&nbsp;nuevos&nbsp;datos:</h5>
                            <form id="NuevaInfo" action="perfil" method="POST">
                                <table>
                                    {{form}}
                                </table>
                                {% csrf_token %}
                    
                            <br> <input class="boton" type="submit" value="Cambiar"> <br><br>
                            
                                
                            </form>
                        </td>
                    </tr>      
                </table>
            </div>
        </div>
           
    {% else %}
        <div>
            <table>
                <tr>
                    <td>Clase:<a href="{% url 'clase' clase.id %}"> {{clase.curso}}º ESO {{clase.nombre}}</a></td>
                    <td><h3>Seguimiento</h3></td>
                    <td><a href="{% url 'cambiar_contrasenia' %}">Cambiar Contraseña</a></td>
                    <td><a href="{% url 'cambiarInformacionAlumno' %}">Cambiar Informacion</a></td>

                </tr>
               
                <tr>
                    <td>
                        <!--Poner lo de ordenar la tabla-->
                    </td>
                    <td>
                        <div>
                            <table id="seguimiento">
                                <tr>
                                    <th onclick="sortTable(0,'seguimiento',1)">
                                        <h4>Temas</h4>
                                    </th>
                                    <th onclick="sortTable(1,'seguimiento',1)">
                                            <h4>% Acierto</h4>
                                    </th>
                                    <th onclick="sortTable(2,'seguimiento',1)" style="text-align: center">
                                            <h4>Nº Ejercicios Hechos</h4>
                                    </th>
                                </tr>
                                {% for seg in seguimiento%}
                                    <tr>
                                        <td>
                                            {{seg.tema}}
                                        </td>
                                        <td>
                                            {{seg.acierto}}
                                        </td>
                                        <td style="text-align: center">
                                            {{seg.n_ejercicios}}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </td>
                </tr>      
            </table>
        </div>
    {% endif %}
{% endblock %}