{% extends "divermat/base.html" %}
{% block title_block %}
    Registro
{% endblock %}

{% block body_block %}

<div class="row">
    <div class="col-xs-5 col-md-5 col-lg-5 offset-md-2">
        <h2>Registro</h2><hr/>
    </div>
</div>
<form id="RegistroForm" action="registro" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-xs-5 col-md-5 col-lg-5 offset-md-2">
            <h3>Introduce&nbsp;los&nbsp;datos&nbsp;para&nbsp;Registrarte</h3>

        </div>
    </div>
    <div>
        <div class="col-xs-3 col-md-3 col-lg-3 ">
            <table>
                <tr>
                    <td>
                        <b> {{ form.first_name.label}}:</b>
                        {% if form.first_name.errors %}
                            {% for error in form.first_name.errors %}
                                <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.first_name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b> {{ form.last_name.label}}:</b>
                        {% if form.last_name.errors %}
                            {% for error in form.last_name.errors %}
                                <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.last_name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b> {{ form.centro.label}}:</b>
                        {% if form.centro.errors %}
                            {% for error in form.new_password1.errors %}
                                <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.centro}}
                    </td>
                </tr>
            </table>

        </div>
        <div class="col-xs-3 col-md-3 col-lg-3">
            <table>
                <tr>
                    <td>
                        <b> <p><i class="fas fa-info" onclick="hideShowInfo('username_help_text');"></i>&nbsp;&nbsp;{{ form.username.label}}:</p></b>
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.username}}
                        <br><p id="username_help_text" style="display:none">1. 150 carácteres como máximo.<br> 2. Únicamente letras, dígitos y @/./+/-/_</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Email:</b>
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.email}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="boton" type="submit" value="Aceptar">   
                        <!-- <input class="boton" type="submit" value="Cancelar"> -->
                    </td>
                </tr>
            </table>

        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 ">
            <table>
                
                <tr>
                    <td style="width:300px !important;">
                        <b><p><i class="fas fa-info" onclick="hideShowInfo('password_help_text');"></i>&nbsp;Introduzca&nbsp;una&nbsp;contraseña:</p></b>
                        {% if form.password1.errors %}
                            {% for error in form.password1.errors %}
                                <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password1}}
                    </td>
                </tr>
                <tr>                        
                    <td>
                        <b>Repite&nbsp;la&nbsp;contraseña:</b>
                        {% if form.password2.errors %}
                            {% for error in form.password2.errors %}
                                <p style="color:crimson;"><strong>{{ error|escape }}</strong></p>
                            {% endfor %}
                        {% endif %}
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password2 }}
                        <p id="password_help_text" style="display:none;"> 1. Su contraseña no puede parecerse a su información personal.<br>
                            2. Su contraseña debe contener al menos 8 caracteres.<br>
                            3. Su contraseña no puede ser una contraseña común.<br>
                            4. Su contraseña no puede ser completamente numérica.</p>
                    </td>
                </tr>
                
            </table>
        </div>
    </div>
</form>
{% endblock %}