{% extends "divermat/base.html" %}

{% block title_block %}
    Seguimiento Alumno
{% endblock %}

{% block body_block %}

    <div class="row">
        <div class="col-xs-5 col-md-5 col-lg-5 offset-md-3">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;Alumno:&nbsp;{{username}}</h2><hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-md-4 col-xl-4 offset-md-1">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h3>Información</h3>
                        </th>
                    </tr>
                </thead>
            </table>
            
            <table>
                <tr>
                    <td>
                        <b>Nombre&nbsp;de&nbsp;usuario:&nbsp;</b>{{username}}
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Nombre:&nbsp;</b>{{nombre}}
                    </td>
                </tr> 
                
                <tr>
                    <td>
                        <b>Apellidos:&nbsp;</b>{{apellidos}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Centro&nbsp;educativo:&nbsp;</b>{{centro}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>
                            Clase:&nbsp;
                        </b>
                        <a href="{% url 'clase' clase.id %}"> {{clase.curso}}º ESO {{clase.nombre}}</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-6 col-md-6 col-xl-6">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h3>Seguimiento</h3>
                        </th>
                    </tr>
                </thead>
            </table>
            
            <table id="seguimiento" class="table-hover table" style=" border-collapse: collapse !important;  text-align: left;">
                <thead>
                    <tr>
                        <th onclick="sortTable(0,'seguimiento',1)">
                            <h5><i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;Temas</h5>
                        </th>
                        <th onclick="sortNumericTable(1,'seguimiento',1)">
                            <h5><i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;%&nbsp;Acierto</h5>
                        </th>
                        <th onclick="sortNumericTable(2,'seguimiento',1)" style="text-align: center">
                            <h5><i class="fa-solid fa-arrow-down-z-a"></i>&nbsp;Nº&nbsp;Ejercicios</h5>
                        </th>
                    </tr>
                </thead>
                    {% if seguimiento is not None%}
                        
                            {% for seg in seguimiento%}
                                <tr>
                                    <td>
                                        {{seg.tema}}
                                    </td>
                                    <td>
                                        {{seg.acierto}}
                                    </td>
                                    <td style="text-align: center">
                                        {{seg.n_ejercicios}}
                                    </td>
                                </tr>
                            {% endfor %}
                    {% endif%}

            </table>
        </div>
        <div class="col-1"></div>

    </div>
{% endblock %}