{% extends "divermat/base.html" %}

{% block title_block %}
    Clase
{% endblock %}

{% block body_block %}
<div class="flex-container">
    
    <table>
        <tr>
            <td></td>
            <td style="width: 350px;">
                <h2>Clase: {{clase.curso}}º {{clase.nombre}}</h2>
            </td>
            <td>
                <a href="{% url 'ejerciciosAsignados' clase.id %}"> Ejercicios Asignados </a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Tema</h3>
            </td>
            <td>
                <h3>%Acierto</h3>
            </td>
            <td>
                <h3>Nº_Ejercicios</h3>
            </td>

        </tr>
        <!--Seguimiento alumno-->
        {% for infor in informacion%}
        <tr>
            <td >
                {{infor.tema}}
            </td>
            <td style="text-align: center">

                {{infor.acierto}}
            </td>
            <td style="text-align: center">
                {{infor.ejercicios}}
            </td>
        </tr>
        {%endfor%}
    </table>
    <!-- <table>
        <tr>
            <td>
                <h3>Ejercicios_Asignados</h3>
            </td>
        </tr>

        {% for ejercicio in ejercicios_asignados%}
            <tr>
                <td style="width: 250px;">
                     <input type="checkbox"> -->
                        <!-- <a href="{% url 'ejercicio' ejercicio.id %}">{{ejercicio.titulo}}</a> -->
                    <!-- </input>  -->
               <!-- </td>
            </tr>
        {%endfor%}
        <br>
        <br> -->
    <!-- </table> -->
</div>
      
{% endblock %}