<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>  
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">             
            DIVERMAT! -
            {% block title_block %}
            {% endblock %}
        </title>    
        <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body class="grid">  
        <script src="/static/js/OrdenarTablas.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
         <div>
                <ul class="nav nav-justified" style="background: rgb(214, 228, 250);" >
                    {% if user.is_authenticated %}
                        <li class="nav-item" style="width:300px">Hola {{user.get_username}}!</li> 
                    {%else%}
                        <li class="nav-item">Bienvenido!</li> 
                    {%endif%}
                    <li WIDTH="1600">
                        <h1><a class="flex-sm-fill text-sm-center nav-link" href="{% url 'index' %}">DIVERMAT!</a></h1>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'cerrar_sesion' %}">Cerrar_Sesión</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'perfil' %}"><img width=40px height= 40px src="{{fotos.foto.url}}" alt="Mi_Perfil"></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'iniciar_sesion' %}">Iniciar_Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'registro' %}">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>          
        </div> 

        {% if registro is False%}
        <div>
            <ul class="nav nav-pills justify-content-center" style="background: rgb(214, 228, 250);">
                {% if profesor is True %}
                <li class="nav-item"  style="background: rgb(214, 228, 250);">
                    <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'clases' %}">Clases</a>
                </li>

                <li class="nav-item"  style="background: rgb(214, 228, 250);">
                    <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'alumnos' %}">Alumnos</a>
                </li>

                <li class="nav-item"  style="background: rgb(214, 228, 250);">
                    <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'index' %}">Ejercicios</a>
                </li>

                <li class="nav-item"  style="background: rgb(214, 228, 250);">
                    <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'contenido' %}">Contenido</a>
                </li>
            {% else %}
                <li class="nav-item"  style="background: rgb(214, 228, 250);">
                        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'index' %}">Ejercicios</a>
                </li>

                <li class="nav-item" style="background: rgb(214, 228, 250);">
                    <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'videos' %}">Vídeos</a>
                </li>

                <li class="nav-item"  style="background: rgb(214, 228, 250);">
                    <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'resumenes' %}">Resúmenes</a>
                </li>

                <li class="nav-item"  style="background: rgb(214, 228, 250);">
                    <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'examenes' %}">Exámenes</a>
                </li>
            {%endif%}
            </ul>
        </div>
        {% endif %}
        <div class="contenido">
            <div class="flex-container">
                {% block body_block %}
            
                {% endblock %}
            </div>
        </div>
        <!-- <div class = "footer">
             <cent><p>Para cualquier duda contactar con lauinirod@gmail.com</p></cent>
        </div> -->
    </body>
</html>
        <!-- <table>
                <tr>
                    {% if user.is_authenticated %}
                        <td style="width:300px">Hola {{user.get_username}}!</td> 
                    {%else%}
                        <td>Bienvenido!</td> 
                    {%endif%}
                    <td WIDTH="1600"><izq><h1 class = "izq"><a href="{% url 'index' %}">DIVERMAT!</a></h1></izq></td>

                    {% if user.is_authenticated %}
                        <td>
                            <a href="{% url 'cerrar_sesion' %}">Cerrar_Sesión</a>
                        </td>                        
                        <td>
                            <a href="{% url 'perfil' %}"><img width=40px height= 40px src="{{fotos.foto.url}}" alt="Mi_Perfil"></a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{% url 'iniciar_sesion' %}">Iniciar_Sesión</a>
                        </td>
                        <td>
                            <a href="{% url 'registro' %}">Registrarse</a>
                        </td>
                    {% endif %}
                </tr>
            </table> 
        </div>-->
        <!-- <div class="header">
            <ul id="lista1">
                {% if user.is_authenticated %}
                   <li>Hola {{user.get_username}}!</li>
                {%else%}
                    <li>Bienvenido!</li> 
                {%endif%}
            
                <li><h1><a href="{% url 'index' %}">DIVERMAT!</a></h1></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'cerrar_sesion' %}">Cerrar_Sesión</a></li>        
                    <li><a href="{% url 'perfil' %}"><img width=40px height= 40px src="{{fotos.foto.url}}" alt="Mi_Perfil"></a></li>       
                {% else %}
                    <li><a href="{% url 'iniciar_sesion' %}">Iniciar_Sesión </a></li>
                    <li> <a href="{% url 'registro' %}"> Registrarse</a></li>           
                        
                {% endif %}
            </ul>
        </div> -->
        <!-- <div class = "cab"> -->

                  <!-- Definimos la siguiente fila que contiene el menú de la página -->
        <div class="row">
            <!-- La primera columna se corresponde con los Buscador -->
            <div class="col-xs-2 col-sm-2 col-lg-2">
                    
                {% block menu_lateral_block %}
                
                {% endblock %}
            </div>
            <!-- La segunda columna se corresponde con el menú y contenido -->
            <div class="col-xs-6 col-sm-6 col-lg-6">
                <!-- La primera fila se corresponde con el menú -->
                <div class="row">
                    <!-- Se divide en tres columnas, la primera vacía -->
                    <div class="col-xs-2 col-sm-2 col-lg-2">
                    </div>
                    <!-- Se divide en tres columnas, la segunda contiene el menú -->
                    <div class="col-xs-6 col-sm-6 col-lg-6">
                        {% if registro is False%}
                            <div class="menu">
                                <table >
                                    {% if profesor is True %}
                                        <td>
                                            <a href="{% url 'clases' %}">Clases</a>
                                        </td>
                    
                                        <td>
                                            <a href="{% url 'alumnos' %}">Alumnos</a>
                                        </td>
                    
                                        <td>
                                            <a href="{% url 'index' %}">Ejercicios</a>
                                        </td>
                    
                                        <td>
                                            <a href="{% url 'contenido' %}">Contenido</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="{% url 'index' %}">Ejercicios</a>
                                        </td>
                    
                                        <td>
                                            <a href="{% url 'videos' %}">Vídeos</a>
                                        </td>
                    
                                        <td>
                                            <a href="{% url 'resumenes' %}">Resúmenes</a>
                                        </td>
                    
                                        <td>
                                            <a href="{% url 'examenes' %}">Exámenes</a>
                                        </td>
                                    {%endif%}
                                </table>
                            </div>
                        {% endif %}
                    </div>
                    <!-- Se divide en tres columnas, la tercera vacía -->
                    <div class="col-xs-4 col-sm-4 col-lg-4"></div>
                </div>
                <!-- La segunda fila dentro de la zona de menú y contenido estará formada por el contenido de la pantalla -->
                <div class="row">
                    <div class="contenido">
                        <div class="flex-container">
                            {% block body_block %}
                        
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>